<body class="classBodyWithBackground">
    <main style="padding-bottom: 500px;">
        <div class="main" style="padding-top: 100px;">
            <div class="login-box">
                <h2>Crear Cuenta</h2>
                <%= form_with(model: @usuario, url: register_path, local: true) do |form| %>
                    <% @usuario.errors.full_messages.each do |error| %>
                        <div>
                            <%= error %>
                        </div>
                    <% end %>
                    <div class="input-container">
                        <%= form.label :nombre %>
                        <%= form.text_field :nombre %>
                    </div>
                    <div class="input-container">
                        <%= form.label :contraseña %>
                        <%= form.password_field :password  %>
                    </div>
                    <!-- <div class="input-container">
                        <label for="password">Repita la contraseña</label>
                        <input type="password" id="passwordRepeat" name="passwordRepeat" required>
                    </div> -->
                    <div class="button-container">
                        <button type="submit">Crear Cuenta</button>
                    </div>
                    <p>
                        ¿Ya tienes una cuenta? <a href="login" class="registrate-link">Iniciar Sesion</a>
                    </p>
                <% end %>
            </div>
        </div>
    </main>
</body>
